#avatarp{
    justify-content: center;
}
#avatarim{
    border-radius: 6px;
    width: 100px;
    height: 100px;
}
#inputp{
    justify-content: center;
    margin-top: 20px;
    
}
#botonconfirmar{
    justify-content: right;
}