ion-content::part(background) {
    background: #13a6d3;
}

#avatarp{
    justify-content: center;
}
#avatarim{
    border-radius: 6px;
    width: 100px;
    height: 100px;
}
#inputp{
    justify-content: center;
    margin-top: 20px;
    
}
#botonconfirmar{
    justify-content: right;
}

ion-card {
    width: 100%;
    height: 100%;
    --background:rgb(246, 213, 0);
    color:black
}

ion-card-title {
    color: black;
}