ion-card {
    margin-top: 40%;
}



#css-login {
  justify-content: center;
  background-color: rgb(255, 166, 0);  
  
}

#registro-usuario {
    --background: rgba(0, 255, 255, 0.714);
    justify-items: end;
}

#login-usuario {
    --background: rgba(0, 255, 255, 0.714);
}

#label-login1 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    --background: rgba(255, 42, 0, 0.7);
}

#label-login2{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    --background: rgb(255, 42, 0, 0.7);
}

#headerlogin {
    align-items: center;
}

#avatarlog{
    border-radius: 6px;
    width: 150px;
    height: 150px;
}


