<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Vacunas</ion-title>
    <ion-button slot="end" (click)="Volver()">
      <ion-icon name="arrow-back-outline" ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h2>Lista de vacunas</h2>
<ion-list *ngIf="vacunas.length > 0">

  
  <ion-card *ngFor="let vacuna of vacunas" >
    <ion-card-header>
    
      <ion-card-title>{{ vacuna.Id_vacuna }}</ion-card-title>
    
    </ion-card-header>
    <ion-card-content>
      Fecha de aplicación: {{ vacuna.fecha_aplicacion}} <br />

      Descripción: {{ vacuna.descripcion }} <br />
      
      Duración: {{ vacuna.duracion }} <br />
    </ion-card-content>
  </ion-card>
</ion-list>

<ion-button id="registro-vacuna" color="tertiary" >Registrar vacuna</ion-button>


<ion-modal #modal trigger="registro-vacuna">
  <ng-template>
    <ion-content>
      <ion-toolbar>
        <ion-title>Registrar</ion-title>
        
      </ion-toolbar>

      <form (ngSubmit)="registrarVacuna()">
        <ion-item>
          <ion-datetime label="Fecha de aplicación" [(ngModel)]="vacunaData.fecha_aplicacion" label-placement="floating"  name="FechaAplicacion"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label>Tipo de vacuna</ion-label>
          <ion-select [(ngModel)]="vacunaData.Id_vacuna" name="TipoVacuna" (ionChange)="actualizarDatosVacuna($event)">
            <ion-select-option
              *ngFor="let vacuna of lista_vacuna"
              [value]="vacuna"
            >
              {{ vacuna.Nombre }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="vacunaSeleccionada" >
          <ion-label>
            <strong>Descripción:</strong> {{ vacunaSeleccionada.Descripcion }}
          </ion-label>
        </ion-item>

        <ion-item *ngIf="vacunaSeleccionada" >
          <ion-label>
            <strong>Duración:</strong> {{ vacunaSeleccionada.Duracion }}
          </ion-label>
        </ion-item>

        <ion-button color="success" (click)="modal.dismiss()" type="submit">Guardar</ion-button>
        
      </form>
    </ion-content>
  </ng-template>
</ion-modal>