<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="mascotas.length > 0">
  <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <ion-searchbar show-clear-button="always" value="Buscar mascota"></ion-searchbar> 'agregar funcionalidad al searchbar' -->
  
  <ion-card *ngFor="let mascota of mascotas" >
    <ion-card-header>
      <ion-card-title>{{ mascota.Nombre }}</ion-card-title>
      <ion-card-subtitle>{{ mascota.Raza }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Edad: {{ mascota.Edad }} <br />
      Especie: {{ mascota.Especie }} <br />
      Sexo: {{ mascota.Sexo }} <br />
      Identificador mascota: {{ mascota.Rut_mascota }} <br />

      <ion-button (click)="viewVacunas(mascota.Rut_mascota)" id="botonvacunas">Vacunas</ion-button>
      <ion-button  (click)="RegistrarCita(mascota.Rut_mascota)" id="botoncitas">Citas</ion-button> <!-- agregar funcion al boton de ver mas o eliminar -->
      <ion-button (click)="deleteMascota(mascota.Rut_mascota)" color="danger" >Eliminar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-content *ngIf="mascotas.length === 0">
  <p>No tienes mascotas registradas.</p>
</ion-content>


<ion-button id="registro-mascota" color="tertiary" >Registrar mascota</ion-button>


<ion-modal #modal trigger="registro-mascota">
  <ng-template>
    <ion-content>
      <ion-toolbar>
        <ion-title>Registrar</ion-title>
        
      </ion-toolbar>

      <form (ngSubmit)="registrarMascota()">
        <ion-item>
          <ion-input label="Nombre" [(ngModel)]="Mascota.Nombre" label-placement="floating" name="Nombre"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-select aria-label="Especie" interface="popover" placeholder="Especie" [(ngModel)]="Mascota.Especie" name="Especie" (ionChange)="actualizarRazas()">
            <ion-select-option value="Gato">Gato</ion-select-option>
            <ion-select-option value="Perro">Perro</ion-select-option>
          </ion-select>
        </ion-item>
        
        <ion-item>
          <ion-select aria-label="Raza" interface="popover" placeholder="Raza" [(ngModel)]="Mascota.Raza" name="Raza">
            <ion-select-option *ngFor="let raza of razasDisponibles" [value]="raza">{{ raza }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-input label="Color" label-placement="floating" [(ngModel)]="Mascota.Color" name="Color"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Rut_mascota" label-placement="floating" [(ngModel)]="Mascota.Rut_mascota" name="Rut_mascota"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-input label="Años" label-placement="floating" type="number" [(ngModel)]="Mascota.Anos" name="Anos" (ionChange)="combinarEdad()"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-input label="Meses" label-placement="floating" type="number" [(ngModel)]="Mascota.Meses" name="Meses" (ionChange)="combinarEdad()"></ion-input>
        </ion-item>

        <ion-item>
          <ion-select aria-label="Sexo" interface="popover" placeholder="Selecionar sexo" [(ngModel)]="Mascota.Sexo" name="Sexo">
            <ion-select-option value="Macho">Macho</ion-select-option>
            <ion-select-option value="Hembra">Hembra</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-checkbox labelPlacement="start" [(ngModel)]="Mascota.Esterilizado" name="Esterilizado">Esterilizado</ion-checkbox>
        </ion-item>
        <ion-button color="success" (click)="modal.dismiss()" type="submit">Guardar</ion-button>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
