<ion-header>
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let recetas of receta" >
    <ion-card-header>
      <ion-card-title>{{ recetas.nombrePaciente }}</ion-card-title>
      <ion-card-subtitle>{{ recetas.especie }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>Edad: {{ recetas.edad }}</p>
      <p>Peso: {{ recetas.peso }}</p>
      <p>Dirección: {{ recetas.direccion }}</p>
      <p>Veterinario: {{ recetas.veterinario }}</p>
      <p>Fecha: {{ recetas.fecha }}</p>
      <p>Diagnostico: {{ recetas.diagnostico }}</p>
      <p>Rp: {{ recetas.rp }}</p>
    </ion-card-content>

    <ion-button (click)="deleteReceta(recetas.id)" color="danger" >Eliminar Receta</ion-button>
  </ion-card>
</ion-content>


