<ion-header>
  <ion-toolbar>
    <ion-title>Veterinarias</ion-title>
  </ion-toolbar>
</ion-header>

<!-- cambiar el diseño de las cartas de las sucursales -->

<ion-content>
  <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let veterinaria of veterinarias">
    <ion-card-header>
      <ion-card-title>{{ veterinaria.nombre }}</ion-card-title>
      <ion-card-subtitle>{{ veterinaria.direccion }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Teléfono: {{ veterinaria.telefono }} <br>
      Dirección: {{ veterinaria.direccion }}

      <ion-button (click)="abrirEnGoogleMaps(veterinaria.lat, veterinaria.lng)" style="margin-left: 75%;">
        Ver en el mapa
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
