<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Recordatorio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Título</ion-label>
      <ion-input [(ngModel)]="Titulo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Ubicación</ion-label>
      <ion-input [(ngModel)]="Lugar"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Notas</ion-label>
      <ion-input [(ngModel)]="Nota"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha de inicio</ion-label>
      <ion-datetime display-format="DD/MM/YYYY HH:mm" [(ngModel)]="Fechainicio"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha de fin</ion-label>
      <ion-datetime display-format="DD/MM/YYYY HH:mm" [(ngModel)]="Fechafin"></ion-datetime>
    </ion-item>

    <ion-button expand="block" (click)="agregarEvento()">Agregar Recordatorio</ion-button>
  </ion-list>
</ion-content>

<!-- <ion-button color="primary" (click)="loadDocuments()">docc</ion-button> -->
